<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(posts => { %>
<h1><%= posts.title %></h1>
<p><%= posts.blogContent.substring(0,100) + " ..." %> <a href="/posts/<%= posts.title %>" >Read More</a></p>
<% }) %> <%- include('partials/footer'); -%>
